.footer {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;

    .colonne-1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}


.heart-icon:before {
    content: "🥤";
}