* {
  box-sizing: border-box;
  font-family: "Cabin";
}

:root {
  --bg-color: #131014;
  --secondary-bg-color: #010A04;
  --main-color: #F8046B;
  --secondary-color: #8E0D53;
  --paragraph: #D898DB;
  --color-title: #eeb8e6;
  --success-color:rgb(80, 227, 194);
  --success-bg:#192526;
  --error-color:rgb(255, 109, 116);
  --error-bg:#2B2023;
}

::-moz-selection {
  background: var(--main-color);
  color: var(--secondary-bg-color);
}

::selection {
  background: var(--main-color);
  color: var(--secondary-bg-color);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.paragraph {
  margin: 0px 0px 20px 0px;
}

.lien {
  position: relative;
  color: var(--color-title);
  display: inline-block;
  padding: 1px 0px 0px 0px;
  padding-bottom: 1px;
  line-height: 1.2;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.lien::after {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  border-radius: 20px;
}

.lien:hover::after {
  width: 10%;
}

.lien:active::after {
  width: 0%;
}

body {
  background: var(--bg-color);
  margin: 0;
  color: var(--paragraph);
}
body .contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body .contenu .title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
body .contenu .title-section .icon {
  height: 35px;
  animation: linear infinite entry-icon 5s;
}
@keyframes entry-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .contenu .chifoumi-container {
  padding: 30px;
  background: var(--secondary-bg-color);
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border: solid 2px var(--secondary-color);
  border-radius: 8px;
}
body .contenu .table-container {
  padding: 30px;
  background: var(--secondary-bg-color);
  display: flex;
  min-width: 500px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border: solid 2px var(--secondary-color);
  border-radius: 8px;
}
body .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
body .form .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .form .input-container .inputBox {
  position: relative;
}
body .form .input-container .inputBox .input-text {
  width: 100%;
  font-size: 20px;
  background: var(--bg-color);
  border: none;
  border-radius: 5px;
  padding: 25px 12px 8px 12px;
  color: var(--paragraph);
  outline: none;
  transition: border-color 0.1s ease;
}
body .form .input-container .inputBox label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 20px;
  color: var(--paragraph);
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  opacity: 0.4;
}
body .form .input-container .inputBox .input-text:valid ~ label,
body .form .input-container .inputBox .input-text:focus ~ label {
  color: var(--main-color);
  transform: translateY(-25px);
  font-size: 0.85em;
  padding: 0 10px;
  opacity: 1;
}
body .form .input-container .inputBox .field-button {
  padding: 10px;
  color: var(--paragraph);
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  background: none;
  font-size: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.title {
  margin: 0;
  font-family: "Dela Gothic One", sans-serif;
}

h2.leaderboard {
  color: var(--success-color);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 20px;
}

.win,
.loose,
.egalite {
  margin-top: 15px;
  border: 1px solid;
  border-radius: 5px;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

.title-section .win,
.title-section .loose,
.title-section .egalite {
  animation: announce 0.7s linear forwards;
}

@keyframes announce {
  0% {
    transform: scale(0.5) rotate(160deg);
  }
  40% {
    transform: scale(1) rotate(0deg);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.win {
  border-color: var(--success-color);
  color: var(--success-color);
  background: var(--success-bg);
}

.loose {
  border-color: var(--error-color);
  color: var(--error-color);
  background: var(--error-bg);
}

.egalite {
  border-color: white;
  color: white;
  background: rgba(250, 179, 169, 0.1);
}

.button {
  text-align: center;
  background: var(--main-color);
  color: var(--secondary-bg-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px var(--secondary-color);
  padding: 8px 14px;
  transition: 0.15s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
}
.button:hover {
  box-shadow: 0px 4px var(--secondary-color);
  transform: translate(0px, 1px);
}
.button:active {
  box-shadow: 0px 0px var(--secondary-color);
  transform: translate(0px, 5px);
}

.button-secondary {
  text-align: center;
  background: var(--color-title);
  color: var(--secondary-bg-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px var(--paragraph);
  padding: 8px 14px;
  transition: 0.15s ease-in-out;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
}
.button-secondary:hover {
  box-shadow: 0px 4px var(--paragraph);
  transform: translate(0px, 1px);
}
.button-secondary:active {
  box-shadow: 0px 0px var(--paragraph);
  transform: translate(0px, 5px);
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.illustration #lottie {
  width: 30%;
}

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 80px;
}

.interaction {
  padding: 8px 12px;
  border-radius: 5px;
  position: fixed;
  top: 30px;
  right: 30px;
}
.interaction .winstreak {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  visibility: hidden;
  color: var(--secondary-bg-color);
  background: var(--main-color);
  padding: 5px 8px;
  border-radius: 5px;
  font-family: "Dela Gothic One", sans-serif;
}
.interaction .winstreak.visible {
  visibility: visible;
  animation: bounce infinite alternate 0.5s;
}
.interaction .scoring {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Dela Gothic One", sans-serif;
}

.user-info-container {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 25px;
}
.user-info-container .user-avatar {
  max-height: 100%;
  width: auto;
}

.avatar-choice input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.avatar-label {
  display: block;
  padding: 10px;
  border: 1px solid var(--color-title);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.avatar-choice {
  width: 100%;
}

.avatar-choice label img {
  max-height: 50px;
  display: block;
}

.avatar-choice input[type=radio]:checked + .avatar-label {
  border-color: var(--main-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.overlay .popup {
  min-width: 500px;
  position: absolute;
  padding: 50px;
  background: var(--secondary-bg-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 2px solid var(--main-color);
}

table {
  border-collapse: collapse;
  border-color: var(--bg-color);
}

tr th,
tr td {
  padding: 8px 10px;
  text-align: center;
  border: none;
  border-bottom: 1px var(--bg-color) solid;
}
tr th div,
tr td div {
  display: flex;
  gap: 10px;
}

@keyframes bounce {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(0.95);
  }
}/*# sourceMappingURL=style.css.map */