* {
    box-sizing: border-box;
    font-family: "Cabin";
}

:root {
    --bg-color: #131014;
    --secondary-bg-color: #010A04;
    --bg-tonal: #2D0816;
    --main-color: #F8046B;
    --secondary-color: #8E0D53;
    --paragraph: #D898DB;
    --color-title: #eeb8e6;
    --success-color: rgb(80, 227, 194);
    --success-bg: #192526;
    --error-color: rgb(255, 109, 116);
    --error-bg: #2B2023;
}

::selection {
    background: var(--main-color);
    color: var(--secondary-bg-color);
}

.section {
    margin-top: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(-130px + 80vh);
    width: 100%;
    gap: 30px;
    align-items: center;
}

.header {
    z-index: 10;
    flex-direction: row;
    top: 30px;
    width: 100%;
    position: sticky;
    max-width: 1200px;
    display: flex;
    pointer-events: none;
    justify-content: space-between;
}


p {
    margin: 0;
}

a {
    text-decoration: none;
}

.paragraph {
    margin: 0px 0px 20px 0px;
}

.lien {
    position: relative;
    color: var(--color-title);
    display: inline-block;
    padding: 1px 0px 0px 0px;
    padding-bottom: 1px;
    line-height: 1.2;
    width: -moz-fit-content;
    width: fit-content;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

.lien::after {
    content: '';
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;
    border-radius: 20px;
}

.lien:hover::after {
    width: 10%;
}

.lien:active::after {
    width: 0%;
}

.w-aside {
    margin-left: 280px;
    transition: 0.2s ease-in-out;
}

body {
    background: var(--bg-color);
    margin: 0;
    color: var(--paragraph);
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        padding: 0px 5%;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
    }

    .title-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        .icon {
            height: 35px;
            animation: linear infinite entry-icon 5s
        }

        @keyframes entry-icon {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }

        }
    }

    .chifoumi-container {
        padding: 30px;
        width: 100%;
        background: var(--secondary-bg-color);
        display: flex;
        max-width: 500px;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        border: solid 2px var(--secondary-color);
        border-radius: 8px;
    }

    .table-container {
        padding: 30px;
        background: var(--secondary-bg-color);
        display: flex;
        min-width: 500px;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        border: solid 2px var(--secondary-color);
        border-radius: 8px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        .input-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .inputBox {
                position: relative;

                .input-text {
                    width: 100%;
                    font-size: 20px;
                    background: var(--bg-color);
                    border: none;
                    border-radius: 5px;
                    padding: 25px 12px 8px 12px;
                    color: var(--paragraph);
                    outline: none;
                    transition: border-color 0.1s ease;
                }

                & label {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    padding: 10px;
                    pointer-events: none;
                    font-size: 20px;
                    color: var(--paragraph);
                    transition: 0.2s ease-in-out;
                    border-radius: 5px;
                    opacity: 0.4;
                }

                & .input-text:valid~label,
                .input-text:focus~label {
                    color: var(--main-color);
                    transform: translateY(-25px);
                    font-size: 0.85em;
                    padding: 0 10px;
                    opacity: 1;
                }

                .field-button {
                    padding: 10px;
                    color: var(--paragraph);
                    border: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    cursor: pointer;
                    background: none;
                    font-size: 1em;
                }
            }
        }
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.title {
    margin: 0;
    font-family: 'Dela Gothic One', sans-serif;
}

h2.leaderboard {
    color: var(--success-color);
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 21px;
}

h6 {
    font-size: 20px;
}


.win,
.loose,
.egalite {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px 16px;
    width: fit-content;
    margin-bottom: 30px;
}


.result {

    .win,
    .loose,
    .egalite {
        margin: 0;
    }
}

.result .win,
.result .loose,
.result .egalite {
    animation: announce 0.7s linear forwards;
}

@keyframes announce {
    0% {
        transform: scale(0.5) rotate(160deg);
    }

    40% {
        transform: scale(1) rotate(0deg);
    }

    70% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }

}

.win {
    border-color: var(--success-color);
    color: var(--success-color);
    background: var(--success-bg);
}

.loose {
    border-color: var(--error-color);
    color: var(--error-color);
    background: var(--error-bg);
}

.egalite {
    border-color: white;
    color: white;
    background: rgba(250, 179, 169, 0.1);
}

.fit-content {
    width: fit-content !important;
}

.pointer-events-fill {
    pointer-events: fill;
}

.button {
    text-align: center;
    background: var(--main-color);
    color: var(--secondary-bg-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px var(--secondary-color);
    padding: 8px 14px;
    transition: 0.15s ease-in-out;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;

    &:hover {
        box-shadow: 0px 4px var(--secondary-color);
        transform: translate(0px, 1px);
    }

    &:active {
        box-shadow: 0px 0px var(--secondary-color);
        transform: translate(0px, 5px);
    }
}

.button-secondary {
    text-align: center;
    background: var(--color-title);
    color: var(--secondary-bg-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px var(--paragraph);
    padding: 8px 14px;
    transition: 0.15s ease-in-out;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;

    &:hover {
        box-shadow: 0px 4px var(--paragraph);
        transform: translate(0px, 1px);
    }

    &:active {
        box-shadow: 0px 0px var(--paragraph);
        transform: translate(0px, 5px);
    }
}


.illustration {
    display: flex;
    align-items: center;
    justify-content: center;

    #lottie {
        width: 30%;
    }
}

.logo {
    width: 80px;
}

.aside {
    width: 280px;
    transform: translateX(0%);
    overflow-y: auto;
    transition: 0.2s;
    background-color: var(--bg-color);
    border-right: 2px solid var(--secondary-bg-color);
    position: fixed;
    padding: 15px;
    z-index: 2;
    height: 100%;
}

.winstreak {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: none;
    color: var(--secondary-bg-color);
    background: var(--main-color);
    padding: 5px 8px;
    border-radius: 5px;
    font-family: 'Dela Gothic One', sans-serif;
}


.winstreak.visible {
    display: block;
    animation: bounce infinite alternate 0.5s;
}

.interaction {
    padding: 8px 12px;
    border-radius: 5px;
}

.scoring {
    width: fit-content;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Dela Gothic One', sans-serif;
}

.user-info-container {
    display: flex;
    gap: 10px;
    height: 25px;

    .user-avatar {
        max-height: 100%;
        width: auto;
    }
}

.avatar-choice input[type=radio] {
    appearance: none;
}

.avatar-label {
    display: block;
    padding: 10px;
    border: 1px solid var(--color-title);
    border-radius: 5px;
    ;
    cursor: pointer;
    width: 100%;
}

.avatar-choice {
    width: 100%;
}

.avatar-choice label img {
    max-height: 50px;
    display: block;
}

.avatar-choice input[type=radio]:checked+.avatar-label {
    border-color: var(--main-color);
}

.menu{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 0;

    li{
        list-style:none;
    }
}

.nav-item {
    color: var(--paragraph);
    line-height: 0;
    width: 100%;
    padding: 12px 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    border: none;
    list-style: none;
    font-size: 20px;
    display: flex;
    overflow: hidden;
    background: transparent;
    line-height: 0;

    &:hover{
        background: #6b2a4542;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;

    .popup {
        min-width: 500px;
        position: absolute;
        padding: 50px;
        background: var(--secondary-bg-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        border: 2px solid var(--main-color);
    }
}

table {
    border-collapse: collapse;
    border-color: var(--bg-color);
}

tr {

    th,
    td {
        padding: 8px 10px;
        text-align: center;
        border: none;
        border-bottom: 1px var(--bg-color) solid;

        div {
            display: flex;
            gap: 10px;
        }
    }

}

.chip {
    padding: 6px 10px;
    border-radius: 50px;

    &.primary {
        color: var(--main-color);
        background: var(--bg-tonal);
    }

    &.success {
        color: var(--success-color);
        background: var(--success-bg);
    }
}


@keyframes bounce {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(0.95);
    }
}